.symptoms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .symptom-card {
    display: flex;
    min-height: 40vh;
    max-height: 40vh;
    width: 80%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .symptom-image {
    flex: 1;
    height: 20rem;
  }
  
  .s-image {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  
  .symptom-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

h1::-webkit-scrollbar {
  width: 0.5rem; 
}


/* Add this CSS to your global stylesheet or a separate file */
.hide-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.5rem; /* Safari/Chrome/Opera */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Safari/Chrome/Opera */
}
