*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
#p1-header{
  /* in header Component */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: '20px';

}
#div-sentence{
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}
#div-p{
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}